.container {
  background-color: #70AE98;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
}

.mediaCardRow {
  margin-top: 40px;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 20px;
}